.container {
  text-align: center;
  margin-top: 50px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.linkItem {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.icon {
  margin-bottom: 10px;
  color: #0070f3;
}