.body{
  background-color: #ffffff;
  }
  .img{
  margin-left: 500px;
  }
  .formContainer {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      margin-left: 550px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 50%;
      border: 2px solid #000000;
      padding: 5px 20px;
      border-radius: 5px;
    }
  
    .text{
      font-family: 'Montserrat';font-size: 30px;
      font-weight: bold;
    }
    .button{
      background-color: #878787;
      width: 30%;
      height: 50%;
      color: white;
      border-radius:5px;
      border: 0;
      padding: 10px 20px;
      margin-top: 50px;
      margin-left: 500px;
    }
  
    @media (max-width: 1020px) {
      .formContainer {
        max-width: 90%;
        margin-left: 0%;
      }
      .form {
        width: 100%;
        margin-left: 0;
      }
      .button {
        width: 100%;
        margin-left: 0;
      }
      .img {
        margin-left: 0;
      }
    }
    