.container {
  text-align: center;  /* Centraliza o texto dentro do container */
 
}

.links {
  display: flex;  /* Usa Flexbox para alinhar os itens dentro da div */
  justify-content: space-around;  /* Centraliza os itens horizontalmente */
  margin-top: 5%;  /* Adiciona um espaçamento superior de 40px */



  


}

.linkItem p {
  text-align: center;  /* Centraliza o conteúdo de texto dentro de cada link */
  cursor: pointer;  /* Altera o cursor para "pointer" (mãozinha), indicando que o item é clicável */
  color: rgb(0, 0, 0);  /* Define a cor do texto como preto */
  text-decoration: none; 
  
}


.linkItem a {
  text-decoration: none; /* Remove o sublinhado do link */
}

.icon {
  margin-bottom: 10px;  /* Adiciona um espaçamento inferior de 10px abaixo do ícone */
  color:#e30613;  /* Define a cor do ícone como azul (#0070f3) */
 
}